.container_photos {
    grid-column: 1/-1;
    position: absolute;
    right: 0;
    top: 400px;
}

@media (max-width: 64rem) {
    .container_photos {
        position: relative;
        top: initial;
        right: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}